@model FarmVille.UI.Dtos.Home.CreateHomeDto

@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>CreateHomeDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button" class="control-label"></label>
                <input asp-for="Button" class="form-control" />
                <span asp-validation-for="Button" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDescription" class="control-label"></label>
                <input asp-for="ImageDescription" class="form-control" />
                <span asp-validation-for="ImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTitle2" class="control-label"></label>
                <input asp-for="ImageTitle2" class="form-control" />
                <span asp-validation-for="ImageTitle2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDescription2" class="control-label"></label>
                <input asp-for="ImageDescription2" class="form-control" />
                <span asp-validation-for="ImageDescription2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl2" class="control-label"></label>
                <input asp-for="ImageUrl2" class="form-control" />
                <span asp-validation-for="ImageUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTitle3" class="control-label"></label>
                <input asp-for="ImageTitle3" class="form-control" />
                <span asp-validation-for="ImageTitle3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDescription3" class="control-label"></label>
                <input asp-for="ImageDescription3" class="form-control" />
                <span asp-validation-for="ImageDescription3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl3" class="control-label"></label>
                <input asp-for="ImageUrl3" class="form-control" />
                <span asp-validation-for="ImageUrl3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckBoxTitle" class="control-label"></label>
                <input asp-for="CheckBoxTitle" class="form-control" />
                <span asp-validation-for="CheckBoxTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckBoxTitle2" class="control-label"></label>
                <input asp-for="CheckBoxTitle2" class="form-control" />
                <span asp-validation-for="CheckBoxTitle2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckBoxTitle3" class="control-label"></label>
                <input asp-for="CheckBoxTitle3" class="form-control" />
                <span asp-validation-for="CheckBoxTitle3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
