@using FarmVille.UI.Dtos.Home;
@model ResultHomeDto
 <!--/Banner-Start-->
<section class="banner-19">
    <div class="banner-layer">
        <div class="main-content-top">
            <div class="container">
                <div class="main-content">
                    <div class="w3lbanner-left">

                        <h6>@Model.SubTitle</h6>
                        <h4>@Model.Title</h4>

                        <a href="#" class="btn btn-style btn-secondary mt-md-5 mt-4">@Model.Button</a>
                    </div>
                    <div class="w3lbanner-right">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Banner-End-->